<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>

<title>File Chooser</title>

<style>
</style>

<link href="@{'/public/fileuploader/fileuploader.css'}" rel="stylesheet" type="text/css">	
<link href="@{'/public/filetree/jqueryFileTree.css'}" rel="stylesheet" type="text/css">	
<link href="@{'/public/filechooser.css'}" rel="stylesheet" type="text/css">	

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" ></script>
<script type="text/javascript" src="@{'/public/fileuploader/fileuploader.js'}" ></script> 
<script type="text/javascript" src="@{'/public/filetree/jqueryFileTree.js'}?v=1.01_1" ></script> 

</head>

<body>
<div id="container">
<div id="header">
<h1>File chooser</h1>
</div>


<div id="left">
<ul>
<li><a href="javascript:void(0)" id="a_upload" >Upload</a></li>
<li class="selected"><a href="javascript:void(0)" id="a_url" >URL</a></li>
<li><a href="javascript:void(0)" id="a_recent" >Recent data</a></li>
<li><a href="javascript:void(0)" id="a_public" >Public dataset</a></li>
<li><a href="javascript:void(0)" id="a_dropbox" >Dropbox</a></li>
</ul>
</div>

<div id="right">
	
	<!--
		Basic File Chooser 
		-->
	<div id="p_choose" style="display:none">
		<div id="queryarea">
		<input type="text" id="queryfield" name="queryfield"/> <span id="icon_clear" ></span>
		<button id="btnsearch" class="button">Search</button>
		</div>
		<div id="result_items">
		</div>
	</div>
	
	
	<!--
	  	File upload container 
		-->
	<div id="p_upload" style="display:none"> 
	<p>To upload a file, click on the button below. Drag-and-drop is supported in FF, Chrome.</p>
	<p>Progress-bar is supported in FF3.6+, Chrome6+, Safari4+</p>
	
	<div id="error-message"  >
	<span style="display:none"></span>
	</div>
	
	<div id="upload-area">		
	</div>
    
    <script>        
        function createUploader(){            
            var uploader = new qq.FileUploader({
                element: document.getElementById('upload-area'),
        	    // path to server-side upload script
        	    action: '@{Data.ajaxupload}',
        	    sizeLimit: 1024*1024*20, // <-- max 20 MB input files
        	    multiple: false,
                debug: true,
                
                template: 
               		'<div class="qq-uploader">' + 
        		        '<div class="qq-upload-drop-area"><span>Drop files here to upload</span></div>' +
        		        '<div class="qq-upload-button"><span>Click here or drag your files in this area</span></div>' +
        		        '<ul class="qq-upload-list"></ul>' + 
        	     	'</div>',

                // template for one item in file list
                fileTemplate: 
                    '<li>' +
                        '<span class="qq-upload-file"></span>' +
                        '<div class="upload-progress"><div class="progress-container" ><div style="width:0%"></div></div> <div style="clear:both"></div> </div> ' +
                        '<span class="qq-upload-size"></span>' +
                        '<a class="qq-upload-cancel" href="#">Cancel</a>' +
                        '<span class="qq-upload-failed-text">Failed</span>' +
                    '</li>',     

        	   classes: {
        	       // used to get elements from templates
        	       button: 'qq-upload-button',
        	       drop: 'qq-upload-drop-area',
        	       dropActive: 'qq-upload-drop-area-active',
        	       list: 'qq-upload-list',
        	                   
        	       file: 'qq-upload-file',
        	       spinner: 'upload-progress',
        	       size: 'qq-upload-size',
        	       cancel: 'qq-upload-cancel',
        	
        	       // added to list item when upload completes
        	       // used in css to hide progress spinner
        	       success: 'qq-upload-success',
        	       fail: 'qq-upload-fail'
        	   },

               // return false to cancel submit
               onSubmit: function(id, fileName) {  
        			$('#error-message > span').hide()
        			$('.qq-upload-list').empty()
        	   },

               onProgress: function(id, fileName, loaded, total){ 
                   var percent = Math.floor(loaded / total * 100); 
                   $('div.progress-container > div').css('width', ''+percent+'%')
               },

               onCancel: function(id, fileName){ },
        	   
        	   onComplete: function(id, fileName, response){
            	   $('#upload-progress').hide();
            	   
            	   if( !response.success ) {
        				return false;
        		   }

            	   /* !!!
            	    * !!! ADD HERE THE COMPLETE NOTIFICATION CODE 
            	    */
        		},
        		
        		// display error message 
                showMessage: function(message){
        			$('#error-message > span').show().text(message + " File has not been uploaded.");
        			setTimeout( function() { $('#error-message > span').fadeOut() }, 5000 );
                }                               
                
            });           
        }
        
        // in your app create uploader as soon as the DOM is ready
        // don't wait for the window to load  
        window.onload = createUploader;     
    </script>    
	</div>
	
	
	<div id="footer" >
	<span id="selarea">xx</span>
	<input type="button" id="btncancel" class="button" value="Cancel">
	<input type="button" id="btnselect" class="button" value="Select" >
	</div>
	
</div>

<div class="clear"></div>
</div>


<script type="text/javascript">

var isDropboxLinked = ${isDropboxLinked};

var currentElem;
var currentFile;

function reloadDropbox(flag) {
	if( flag === true || flag === false ) { 
		isDropboxLinked = flag;
	} 
	$('#a_dropbox').click();
}

/*
 * Add to the specified url the query field value
 */

function searchurl(url) { 
	var args={};
	args['query']  = $('#queryfield').val();
	var q="";
	for( var name in args ) if(args[name]!=null) {  
		q+=(q=="" && url.indexOf('?')==-1) ? "?" : "&"; q+=name+"="+escape(args[name]); 
	} 
	return url + q; 
} 

$(window).resize(function() {
	var result = $('#result_items');
	if( result && result.is(':visible') ) { 
		var t1=$('#result_items').position().top;
		var t2=$('#footer').position().top;
		$('#result_items').css('height', t2-t1-10);
	} 
});

/* show/hide the search field clear icon */
function iconClear( visible ) {
	if( visible == null ) { 
		visible = $('#queryfield').val().length == 0;
	}
	
    if( !visible ) {
        $('#icon_clear').css('visibility','visible');
    }
    else {
        $('#icon_clear').css('visibility','hidden');
    }

}  


function fileChoose( file ) { 
	$('#selarea').text(file);
	currentFile = file;
}

function fileChoosePublic( file ) {
	$('#selarea').text(file);
	currentFile = "file://${publicRoot}" + file; 
}

/* 
 * document ready
 */
$(document).ready(function() { 
	
	$('#btncancel').click(function() {
		self.parent.tb_remove()
	})
	
	$('#btnselect').click(function() {
		self.parent.tb_select( '${fieldId}', currentFile )
		self.parent.tb_remove()
	})
	
	/* search button action */
	$('#btnsearch').click(function() {
		$(currentElem).click();
	})

	/* query field action */
	$('#queryfield').bind('keypress', function(e) {
		
		var code = (e.keyCode ? e.keyCode : e.which);
		if(code == 13) { //Enter keycode
			$(currentElem).click();
		}
		 
	})
	.bind('keyup', function() { iconClear() })

	
	/* the icon clear action: clean the field, reload the data, hide itself */

	$('#icon_clear').click(function() {
		$('#queryfield').val('');
		$(currentElem).click();
        $(this).css('visibility','hidden');
	})

	iconClear();
	
	/* 
	 * the navigation bar 
	 */
	 
	/* File upload */
	$('#a_upload').click(function() {
		$('#p_choose').hide();	
		$('#p_upload').show()	
		$('#left li').removeClass('selected');
		$(this).parent('li').addClass('selected');
		
		currentElem=this;
	});
	
	/* 
	 * Recent file chooser 
	 */
	$('#a_recent').click(function() {
		
		var opt = { 
				root: '/', 
				script: searchurl("@{FileChooser.listRecentData}"), 
				folderEvent: 'click', 
				expandSpeed: 750, 
				collapseSpeed: 750,
				multiFolder: false
			}
		
		$('#result_items').fileTree( opt, fileChoose );
		
		$('#p_upload').hide()	
		$('#p_choose').show();	
		$('#left li').removeClass('selected');
		$(this).parent('li').addClass('selected');
		currentElem=this;
	} );

	/* 
	 * Dropbox file chooser 
	 */
	$('#a_dropbox').click(function() {
		
		// if dropbox is linked shows the file tree chooser 
		if(isDropboxLinked) { 
			var opt = { root: '/', 
					  script: searchurl("@{FileChooser.listDropboxData}"), 
					  folderEvent: 'click', 
					  expandSpeed: 750, 
					  collapseSpeed: 750, 
					  multiFolder: false 
					}; 

			$('#result_items').fileTree( opt, fileChoose );
		}
		// otherwise 
		else {
			$('#result_items').load( "@{FileChooser.listDropboxData}" );
		}
		
		$('#p_choose').show();	
		$('#p_upload').hide()	
		$('#left li').removeClass('selected');
		$(this).parent('li').addClass('selected');
		
		currentElem=this;
	
	} );

	/* 
	 * Public dataset 
	 */
	$('#a_public').click(function() {

		$('#p_choose').show();	
		$('#p_upload').hide();
		$('#left li').removeClass('selected');
		$(this).parent('li').addClass('selected');
		
		var t1=$('#result_items').position().top;
		var t2=$('#footer').position().top;
		$('#result_items').css('height', t2-t1-10);

		var opt = { 
				root: '/', 
				script: searchurl("@{FileChooser.listPublicData}"), 
				folderEvent: 'click', 
				expandSpeed: 750, 
				collapseSpeed: 750,
				multiFolder: false
			}
		
		$('#result_items').fileTree( opt, fileChoosePublic );
		
		
		currentElem=this;

	} );
	
	
	/* force 'public' panel to be showed */
	$('#a_upload').click();
	$('#queryfield').focus();
})
</script>
</body>
</html>