#{extends 'layout.html' /}
#{set title:'Bundle details' /}

<h1>
<span>Bundle details</span>
</h1>

#{include 'Admin/bundleInfo.html' /}

<div>
<button id="zip" type="button" class="button">Zip &amp; Download</button>
<button id="drop" type="button" class="button">Drop</button>
&nbsp;&nbsp;
<a href="@{Admin.bundleManager}" >Bundle manager</a>
</div>

<script type="text/javascript">
$(document).ready(function() {

	$('#zip').click(function(){
		window.open("@{Admin.bundleZipAndDownload(bundle.name)}","_blank")
	});

	$('#drop').click(function() {
		window.location = "@{Admin.bundleDrop(bundle.name)}"
	});
	
} );
</script>
