#{extends 'main.html' /}
#{set title:'Contacts' /}

<h1>Clear all job repo folders 
<small>
Using this page you can remove all tcoffee context repo in the server file system.
</small>
</h1>


<div class="c-style">
<h2>Please note</h2>
<p>
You are going to remove any T-Coffee context repo on this server including the one eventually running.  
</p>

<form action="${request.path}" method="POST" >
<button type="submit">&nbsp;&nbsp;&nbsp;YES! Don't bother me and proceed!&nbsp;&nbsp;&nbsp;</button>
<button type="button" onclick="window.location='@{Admin.index}'">&nbsp;&nbsp;&nbsp;Mama, I don't know where am I&nbsp;&nbsp;&nbsp;</button>

</form>


</div>