#{extends 'layout.html' /}
#{set title:'App properties' /}

<h1>Application properties 
<small>
View and edit application properties &amp; configuration
</small>
</h1>

#{if saved}
<div class="box-info">
<b>OK</b> Changed properties applied to the application.
</div>
#{/if}


<div class="box">
<h2>
<span>Available properties</span>
<small><span>Click on the value column to edit</span></small>
</h2>

<table id="box-table-a">
<thead>
<tr><th>Name</th><th>Value</th><th>Action</th></tr>
</thead>
<tbody>
#{list names, as:'key'}
<tr >
<td>${key}</td> <td id="${key.hashCode()}" class="cellval">${props.getString(key)}</td> <td> [ <a href="javascript:del('${key}','${key.hashCode()}')" >delete</a> ] </td>
	
</tr>
#{/list}
</tbody>
</table>

<div id="__add" >Click here to add a new property</div>
</div>

<form method="post">
<button id="submit" class="button disabled" disabled="disabled">Apply changes</button>
&nbsp;&nbsp;
<a href="@{Admin.index}" title="Discard changes, if any, and back to index page">Cancel</a>
</form>

*{
 More about the Edit-in-place plugin ()
 http://code.google.com/p/jquery-in-place-editor/
}*
<script type="text/javascript" src="@{'/public/javascripts/jquery.editinplace.js'}" ></script>
<script type="text/javascript">
/* show the confirm button */
function enable() {
	$('#submit').removeAttr('disabled').removeClass('disabled');
}

/* update the property value */
$(document).ready(function(){
	$('.cellval').editInPlace({url:"@{Admin.updateProperty}", success: enable })
});

/* delete a property from the table */
function del(key,item) { 
	$.ajax( {
		url: "@{Admin.updateProperty}?element_id=__del&original_html="+key, 
		success: function() { $('#'+item).closest('tr').remove(); enable(); }
	});	
}

/* add a new property */
$('#__add').editInPlace({
	url:"@{Admin.updateProperty()}", 
	default_text:'(name=value)', 
	success: function(text) {
		var pair = text.split('=');
		$('#box-table-a tr:last').after("<tr><td>"+pair[0]+"</td><td>"+pair[1]+"</td><td></td></tr>");
		enable();
		$(this).text("Click to enter a new property")
	},

	error_sink: function(idOfEditor, errorString) { alert(errorString); $(this).text("Click to enter a new property") }   

	});
</script>