#{extends 'layout.html' /}
#{set title:'System info' /}

*{
* This template uses a custom extension to format path. 
* See ServerExtensions#path()
* }*

<style type="text/css">
.box { overflow-x: scroll; }
</style>

<h1>System info
<small>
Server &amp; framework configuration properties 
</small>
</h1>

<div class="box" >
<h2><span>Play! configuration</span></h2>
<table id="box-table-a">
<thead>
<tr><th>PARAM</th><th>VALUE</th></tr>
</thead>
<tbody>
#{each map3 }
<tr class="${_parity}"> 
<td>${_key}</td> <td>${_.path().nl2br()}</td>
</tr>
#{/each}
</tbody>
</table>
</div>



<div class="box">
<h2><span>JVM Props</span></h2>
<table id="box-table-a">
<thead>
<tr><th>PARAM</th><th>VALUE</th></tr>
</thead>
<tbody>
#{each map1 }
<tr class="${_parity}">
<td>${_key}</td> <td>${_.path().nl2br()}</td>
</tr>
#{/each}
</tbody>
</table>
</div>

<div class="box">
<h2><span>Environment variables</span></h2>
<table id="box-table-a">
<thead>
<tr><th>PARAM</th><th>VALUE</th></tr>
</thead>
<tbody>
#{each map2 }
<tr class="${_parity}">
<td>${_key}</td> <td>${_.path().nl2br()}</td>
</tr>
#{/each}
</tbody>
</table>

</div>