#{extends 'layout.html' /}
#{set title:'T-Coffee | System info' /}

<h1>System info
<small>
Server &amp; framework configuration properties 
</small>
</h1>

<div class="box">
<h2><span>Play! configuration</span></h2>
<table id="box-table-a">
<thead>
<tr><th>PARAM</th><th>VALUE</th></tr>
</thead>
<tbody>
#{list list3, as:'key'}
<tr>
<td>${key}</td> <td>${playConf.getProperty(key)}</td>
</tr>
#{/list}
</tbody>
</table>
</div>

<div class="box">
<h2><span>JVM Props</span></h2>
<table id="box-table-a">
<thead>
<tr><th>PARAM</th><th>VALUE</th></tr>
</thead>
<tbody>
#{list list1, as:'key'}
<tr>
<td>${key}</td> <td>${System.getProperties().getProperty(key)}</td>
</tr>
#{/list}
</tbody>
</table>
</div>

<div class="box">
<h2><span>Environment variables</span></h2>
<table id="box-table-a">
<thead>
<tr><th>PARAM</th><th>VALUE</th></tr>
</thead>
<tbody>
#{list list2, as:'key'}
<tr>
<td>${key}</td> <td>${System.getenv().get(key)}</td>
</tr>
#{/list}
</tbody>
</table>

</div>