#{extends 'layout.html' /}
#{set title:'Manage Users' /}

<h1>Manage Users  
<small>
Users enabled to access the administration console
</small>
</h1>

#{if saved}
<div class="box-info">
<b>OK</b> Changed properties applied to the application.
</div>
#{/if}


<div class="box">
<h2>
<span>Available users</span>
</h2>

#{if users}
<table id="box-table-a">
<thead>
<tr><th>Account</th> <th>&nbsp;</th> </tr>
</thead>
<tbody>
#{list users }
<tr class="${_parity}" >
<td>${_}</td>  <td> [ <a href="javascript:del('${_.escapeJavaScript()}')">delete</a> ] </td>
</tr>
#{/list}

</tbody>
</table>
#{/if}

<div id="add" >(click to enter a new user)</div>

</div>


*{
 More about the Edit-in-place plugin 
 http://code.google.com/p/jquery-in-place-editor/
}*
<script type="text/javascript" src="@{'/public/javascripts/jquery.editinplace.js'}" ></script>
<script>
$(document).ready(function(){
	$('#add').editInPlace({url:"@{Admin.userUpdate()}", default_text:'(click to enter a new user name)', success:reload })
} )

function reload() { window.location.reload(); } 

function del(user) { 
	$.ajax( {url: "@{Admin.userUpdate}?element_id=del&update_value="+user, success: reload } )	
}
</script>