#{extends 'layout.html' /}
#{set title:'Usage log download' /}

<style type="text/css">
.preview { width: 90%; overflow-x: scroll; display: none; margin-top: 2em } 
</style>

<h1>Log file
<small>
Download the server log file
</small>
</h1>


*{ 
	THE APPLICATION LOG BOX
 }*
 
#{if appLogFile }
<div class="box">
<h2>
<span>Application log file</span>
<small><span>Contains application level warning and error messages</span> </small>
</h2>

	<img src="@{'/public/images/document.png'}" width="48" height="48" style="float: left; align:bottom"/> 
	<span style="position:relative; left:1em; ">
	${appLogFile} <br/>
	<a target="_blank" href="@{Admin.downloadApplicationLog}" >Click to download</a>
 	- <a id="appPreviewLink" href="javascript:void(0)" >Preview</a>
 	</span> 
 	<div style="clear:both; " ></div>


	<div id="appPreview" class="preview">
	<img src="@{'/public/images/ajax-grey.gif'}" width="16" height="16" />
	<pre>
	</pre>
	</div>

</div>
#{/if}


*{ 
	LOGGER MANAGEMENT BOX
 }*

<div class="box" >
<h2><span>Loggers</span>
<small><span>Manage installed loggers</span></small>
</h2>


<table id="box-table-a">
<thead>
<tr><th>Logger</th><th>Level</th></tr>
</thead>
<tbody>
#{each  loggers }
<tr  >
<td>${_key}</td> <td id="${_key.replaceAll('\\.','|')}" class="cellval">${_value}</td>
</tr>
#{/each}
</tbody>
</table>

<small>In order to change logger level click on the column level, select a new level value and press ENTER to confim, or ESC to cancel.</small>
</div>

<div id="feedback">
</div>

<div class="box-warn" style="display:none">
</div>


*{
 More about the Edit-in-place plugin ()
 http://code.google.com/p/jquery-in-place-editor/
}*
<script type="text/javascript" src="@{'/public/javascripts/jquery.editinplace.js'}" ></script>
<script>

function notifySuccess(level) { 
	$("#feedback").addClass("box-info").text("Logger level updated to " + level) . fadeIn(150) .delay(4000).fadeOut(); 
}

function notifyError(idOfEditor, errorString) { 
	$("#feedback").addClass("box-error").text(errorString) . fadeIn(150) .delay(4000).fadeOut(); 
}

$(document).ready(function(){
	$('.cellval').editInPlace({
		url:"@{Admin.updateLogger}", 
		field_type: "select", 
		select_options: "OFF,FATAL,ERROR,WARN,INFO,DEBUG,TRACE,ALL",
		success: notifySuccess,
		error_sink: notifyError
	})
} );

/*
 * Application log preview 
 */

 
var appPreviewInterval=null;

$('#appPreviewLink').click(function(){ $('#appPreview').toggle(200, function() {

	var link=$('#appPreviewLink'); 
	var load = function() {  $.get('@{Admin.previewApplicationLog()}', function(data) { $('#appPreview pre').text(data); });  } 
	var isVisible = $(this).is(':visible'); 
	if(isVisible) { 
		load();
		appPreviewInterval = setInterval( load, 5000 );  
		link.text("Hide")
	}
	else {
		link.text("Preview")
		clearInterval(appPreviewInterval)
	}
} ) });  
 
</script>