/* some css here */

body {
	background: #F1F5F8 url(public/images/sib_header_medium_bkgd.png) repeat-x 0% 0%;
}

#logo {
	position: relative;
	top: 12px;
	left: 3px;

	background: url(public/images/tcoffeelogo-2.png) no-repeat 0% 0%;
	float: left;
	font-size: 1px;
	text-indent: -9999px;
	width: 230px;
	height: 70px;
}

#sib_logo {
	position: relative;
	top: 12px;
	left: 0px;

	background: url(public/images/sib_logo.png) no-repeat 0% 0%;
	float: left;
	font-size: 1px;
	text-indent: -9999px;
	width: 78px;
	height: 70px;
}

#sib_logo a {
	display: block;
	height: 100%;
	width: 100%;

	font-family: 'Lobster', serif;
	font-size: 3.5em;
	font-style: normal;
	font-weight: 400;
	text-shadow: 2px 2px 2px #999;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1em;
	color: #fafafa;
}


/* some colors */

#content {
	color: #444;
	font-weight: normal;
	font-size: 15px;
}

#content h1 {
	font-weight: 500;
}

#content h1 small {
	font-weight: normal;
}

#content label small {
	font-size: 12px;
	font-weight: 300;
} 

#content .box,
#content fieldset,
#content .box h2 span,
#content fieldset h2 span
{
	background-color: #eaeaea;
}

#content h2 span {
	background-color: #F1F5F8;
}

/* highlight color */
#content em,
#content h1 small 
{
	color: #0c8aa3;
}

#content a,
#footer a
{
	color: #0c8aa3;
	border-color: #0c8aa3; 
}


/* 
 * declarative menu 
 */
 
#navigation li a {
	color: #282828; 
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); 
	-webkit-border-radius: 14px; 
	-moz-border-radius: 14px; 
	border-radius: 14px;
	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out; 
	-o-transition: all 0.3s ease-in-out; 
	transition: all 0.3s ease-in-out;	
	
}

#navigation li a:hover, 
#navigation li a:focus {
	color: #fff; 
} 
 
#navigation.index .index a,
#navigation.history .history a,
#navigation.tutorial .tutorial a,
#navigation.references .references a,
#navigation.contacts .contacts a

{
	color: #CC0000;
}


/* 
 * Home page 
 */
 
#content .cite {
	color: #888;
	border: none;
} 

#content #mirrors a {
	border: none;
	color: #444;
}

#footer {
	background-color: #1E2425;
	font-weight: normal;
	z-index: 2;
}
.fly_away, .copy-note {
	padding: 0 9px 0 9px;
	background-color: #1E2425;
	color: #F7F8FA;
	letter-spacing: 1px;
    font-size: 1em;
	text-decoration: none;
}
.fly_away {
	background-color: #1E2425;
	float: right;
}
