@charset "UTF-8";
@import url("reset.css");

/* 
 * Main structure 
 */ 
 
body {
	background-color:#E2E1DE;
	color:#32312F;
	font:12px/1.6em 'Lucida Grande',Lucida,Verdana,sans-serif;
} 

#container
{
	margin: 0 auto;
	width: 950px;
}

#header {
	text-align: right;	
}

pre.c-logo {
	font-family:monospace;
	font-size:8pt;
	line-height:1;
	margin-right: 30px;
}

.c-sublogo {
	font-size: x-small;
	color: #666;
	margin-right: 30px;
	margin-bottom: 8px;
}

#inner
{
	float: left;
	width: 950px;
}

#side-menu
{
	float: left;
	width: 120px;
	padding: 0 10px;
	display: inline;
	text-align: right;
}

#side-menu ul
{
	margin: 0;
	padding: 0;
}

#side-menu ul li
{
	margin: 0 0 1em;
	font-size: 13px;
}

#side-menu a {
	text-decoration: none;
	color: inherit;
	background-color: #f9f9f9;
	padding: 2px;
} 

#content
{
	float: left;
	width: 730px;
	padding: 25px;
	 
	background-color: #F9F9F9;	
	min-height:460px;
	
	-moz-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2); /* Firefox */
	-webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2); /* Safari, Chrome */
	box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2); /* CSS3 */
  
}

#footer
{
	clear: left;
	text-align: center;
	padding: 20px;
	height: 1%;
}

/* 
 * slide menu effects 
 */
 
#side-menu ul {list-style:none;margin:0;padding:0;}
#side-menu li {float:left;width:100px;margin:0;padding:0;text-align:center;}
#side-menu li a {display:block;}
#side-menu li a:hover, 
#side-menu li a:focus, 
#side-menu li a:active {background-position:-150px 0;}
#side-menu a {background:url(../images/slide-menu.jpg) repeat 0 0;}

/*
 * Common decoration 
 */
 
h1 {
  font-size: 2em;
  color: #3D7CB1;
  margin-bottom: .5em;
}

h2, 
fieldset legend 
{
  font-size: 1.6em;
  color: #3D7CB1;
  padding-top: 0.2em;
  padding-bottom: 0.4em;
  margin-bottom: 0.4em;
}

h3 {
  font-size: 1.2em;
  color: #3D7CB1;
} 

p {
  margin: auto auto 0.3em auto;	
  line-height: 1.3em;
} 


h1 small {
	display: block;
	margin-top: 0.6em;
	font-size: .5em;
	color: #666;
}

table.c-home {
	margin-bottom: 1.4em;
}

table.c-home td {
	padding: .4em;
}

table.c-home td.c-lbl {
	text-align: right;
	width: 8em;
} 

/* 
 * clean and pure css forms 
 */

.spacer{ clear:both; height:1px; }


#content fieldset legend small {
	display: block;
	font-size:11px;
	font-weight: normal;
	color:#666;
	padding-top: 0.6em;
	white-space: normal;
}

#content fieldset {
	margin:0.2em 0 1.2em;
	/* padding-left: 1em; */
}

#content fieldset legend {
	border-left: 2px solid #ccc;
	padding-left: 0.4em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin-bottom:0.4em;
}

#content p {
	margin:0.2em 0 1em;
}

#content label {
	display:block;
	font-weight:bold;
	text-align:right;
	width: 220px;
	float:left;
	margin-bottom: 20px;
}

#content label small {
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width: 220px;
}
#content input[type='text'], 
#content input[type='file'],
#content textarea, 
#content select{
	font-size: 1em;
	border:solid 1px #ddd;
	padding: 4px 2px;
}

#content input[type='text'], 
#content select {
	width: 20em;
}

#content textarea {
	width: 41em;
}


#content .c-input { 
	font-size: 1em;
	float:left;
	margin:2px 0 20px 10px;
	
}

#content .c-more-options {
	padding-left: 0.2em;
	margin-bottom: 1.8em;
	margin-top: -2.5em;	
}

#content input[type='checkbox'], #content input[type='radio'] {
    margin: auto 6px 8px 10px;
}

/* errors */

#content .c-error {
	display: block;
	color:red;
	font-size:11px;
	font-weight:bold;
	margin-top: .3em;
}

#content .hasError {
	border-left:2px solid red;
	margin-right:-4px;
	padding-left:6px; 	
}

h2.c-error {
	color: red;
}


/* wii buttons */

a.button, span.button, del.button { border: medium none ; margin: 0pt 0px 0pt 8px ; padding: 0pt 10px 0pt 0pt; display: inline-block; cursor: pointer; font-size: 0pt; line-height: 0pt; background-position: 0pt 0pt; background-repeat: no-repeat; height: 30px; text-decoration: none; color: rgb(46, 82, 59); font-style: normal; vertical-align: middle; }
a.button, span.button, del.button, a.button span, span.button button, span.button input, del.button span { background-image: url(../images/buttons.png); }
a.button span, span.button button, span.button input, del.button span { border: medium none ; margin: 0pt -16px 0pt 10px; padding: 8px 20px 0pt 10px; white-space: nowrap; cursor: pointer; color: rgb(34, 34, 34); display: inline-block; line-height: 1; letter-spacing: 0pt ! important; font-family: "Arial" ! important; font-size: 12px ! important; font-style: normal; background-color: transparent; background-position: 100% 0pt; background-repeat: no-repeat; height: 30px; vertical-align: text-top; }
span.button button { line-height: 2.5; }
html.safari a.button span, html.safari del.button span { line-height: 1.3; }
html.safari span.button button { line-height: 2.6; }
html.safari a.button:focus, html.safari span.button button:focus { outline-color: -moz-use-text-color; outline-style: none; outline-width: medium; }
del.button { background-position: 0pt -120px; }
del.button span { cursor: default; color: rgb(170, 170, 170) ! important; background-position: 100% -120px; }
span.button button, span.button input { padding-top: 0px; line-height: 2.5; }
a.button:hover, span.button:hover, a.button:focus, a.dom-button-focus, span.button-behavior-hover { background-position: 0pt -60px; color: rgb(34, 34, 34); text-decoration: none; }
a.button:hover span, span.button:hover button, a.button:focus span, span.button-behavior-hover button, span.button-behavior-hover input { background-position: 100% -60px; }
a.button:active, a.button:focus span { color: rgb(68, 68, 68); }
del.button-behavior-hover, del.button:hover { background-position: 0pt -180px; }
del.button-behavior-hover span, del.button:hover span { background-position: 100% -180px; }
span.button button, del.button span, span.button input {  }


/* 
 * tables style 
 * see examples here http://www.smashingmagazine.com/2008/08/13/top-10-css-table-designs/
 */


#box-table-a
{
	font-size: 1em;
	text-align: left;
	border-collapse: collapse;
}

#box-table-a th
{
	font-size: 1.1em;
	font-weight: normal;
	padding: 8px;
	background: #ddd;
	border-top: 4px solid #aaa;
	border-bottom: 1px solid #fff;
}

#box-table-a td
{
	padding: 8px;
	background: #eee; 
	border-bottom: 1px solid #ddd;
	border-top: 1px solid transparent;
}
#box-table-a tr:hover td
{
	background: #d0dafd;
	color: #339;
}




