#{if _arg == 'regular' || _arg == 'tcoffee'}
<a target='_blank' href='http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=PubMed&list_uids=12824354,10964570'>#{doBody /}</a> 
#{/if}

#{if _arg == 'expresso' }
<a target='_blank' href='http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=PubMed&list_uids=16845081,15201059,15215345,10964570'>#{doBody /}</a> 
#{/if}

#{if _arg == 'mcoffee' }
<a target='_blank' href='http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=PubMed&list_uids=17526519,16556910,10964570'>#{doBody /}</a> 
#{/if}

#{if _arg == 'rcoffee' }
<a target='_blank' href='http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=PubMed&list_uids=18483080,18420654,10964570'>#{doBody /}</a> 
#{/if}

#{if _arg == 'combine' }
<a target='_blank' href='http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=PubMed&list_uids=12824354,10964570'>#{doBody /}</a> 
#{/if}

#{if _arg == 'core' }
<a target='_blank' href='http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=PubMed&list_uids=12824354,10964570'>#{doBody /}</a> 
#{/if}

#{if _arg == 'irmsd' }
<a target='_blank' href='http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=PubMed&list_uids=16873492,17032685,12855461'>#{doBody /}</a> 
#{/if}

#{if _arg == 'protogene' }
<a target='_blank' href='http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&db=PubMed&list_uids=16845080'>#{doBody /}</a> 
#{/if}
