
#{if _arg.type == 'hidden' }
	<input type="hidden" name="${_arg.name}" value="${_arg.value}" />
#{/if}

#{else }
#{field-wrap _arg } 

#{if _arg.type == 'text' }
	<input type="text" name="${_arg.name}" value="${_arg.value}" #{if _arg.useTipTip} title="${_arg.hint}" class="tiptip" #{/if}/>
#{/if}

#{elseif _arg.type == 'password' }
	<input type="password" name="${_arg.name}" value="${_arg.value}" #{if _arg.useTipTip} title="${_arg.hint}" class="tiptip" #{/if} />
#{/elseif}

#{elseif _arg.type == 'dropdown' }
	<select name='${_arg.name}' #{if _arg.useTipTip} title="${_arg.hint}" class="tiptip" #{/if}>
	#{list _arg.choices, as: 'item'}
	<option ${_arg.value==item ? "selected='selected'" : "" }>${item}</option>
	#{/list}
	</select>
#{/elseif}

#{elseif _arg.type == 'list' }
	<select name='${_arg.name}' size="5" #{if _arg.useTipTip} title="${_arg.hint}" class="tiptip" #{/if} >
	#{list _arg.choices, as: 'item'}
	<option ${_arg.value==item ? "selected='selected'" : "" }>${item}</option>
	#{/list}
	</select>
#{/elseif}


#{elseif _arg.type == 'checkbox' }
<div #{if _arg.hint && !_arg.hintsMap } class="tiptip" title="${_arg.hint}"#{/if} >
	#{listwrap list:_arg.choices, cols:5, as:'item' }
	<span class="tiptip" title="${_arg.hintsMap[item]}">
	<input type="checkbox" name='${_arg.name}' value="${item}" ${_arg.value?.contains(item) ? "checked='checked'" : ""} />${item}
	</span>
	#{/listwrap}
</div>
#{/elseif}

#{elseif _arg.type == 'radio' }
<div #{if _arg.hint && !_arg.hintsMap } class="tiptip" title="${_arg.hint}"#{/if} >
	#{listwrap list:_arg.choices, cols:5, as:'item' }
	<span class="tiptip" title="${_arg.hintsMap[item]}">
	<input type="radio" name='${_arg.name}' value="${item}" ${_arg.value?.contains(item) ? "checked='checked'" : ""}  />${item}
	</span>
	#{/listwrap}
</div>
#{/elseif}

#{elseif _arg.type == 'textarea' }
	<textarea id="${_arg.name}" name="${_arg.name}" #{if _arg.useTipTip} title="${_arg.hint}" class="tiptip" #{/if} rows="6" >${_arg.value}</textarea>
#{/elseif}

#{elseif _arg.type == 'memo' }

    <div id="${_arg.name}_wrap" class="field_wrap">
        %{ def fclass='field'; if(_arg.useTipTip) { fclass+=' tiptip' }  }%
        #{if _arg.hasFile() } 
		<textarea id="${_arg.name}" name="${_arg.name}" title="${_arg.hint}" class="${fclass}" rows="6" style="display:none" >file://${_arg.getFilePath()}</textarea>
	    #{/if}
		#{else}
		<textarea id="${_arg.name}" name="${_arg.name}" title="${_arg.hint}" class="${fclass}" rows="6" >${_arg.value}</textarea>
		#{/else}
			    
	    <div class="link" #{if _arg.hasFile() } style="display:none" #{/if} > - OR -
	    <a id="${_arg.name}_uploader" href="@{FileChooser.index}?fieldId=${_arg.name}&TB_iframe=true&height=500&width=700" class="thickbox">Click here to upload a file</a>
	    </div>
		
	    <div class="upload_div" #{if !_arg.hasFile() } style="display:none" #{/if} >
	    	<img src="@{'/public/images/document.png'}" width="48" height="48" style="float: left; align:bottom"/> 
	    	<span style="position:relative; left:1em; top:26px;">
	    	<span class="upload_name"> 
	    	#{if _arg.hasFile()} <a href="@{Data.view(_arg.getFilePath())}" target="_blank">${_arg.getFileName()}</a> #{/if} 
	    	</span> 
	    	[ <a href="javascript:void(0)" class="upload_cancel">x</a> ]
	    	</span>  
	    	<div style="clear: both"></div>
	    </div>
	    
    </div>
#{/elseif}

#{elseif _arg.type == 'file' }
    <div id="${_arg.name}_wrap" class="field_wrap">
		<input id="${_arg.name}" name='${_arg.name}' type='hidden' class="field" value='${_arg.filePath}' />

	    <div class="link" #{if _arg.hasFile() } style="display:none" #{/if} >
	    <a id="${_arg.name}_uploader" href="@{FileChooser.index}?fieldId=${_arg.name}&TB_iframe=true&height=500&width=700" class="thickbox">Click here to upload a file</a>
	    </div>
		
	    <div class="upload_div" #{if !_arg.hasFile() } style="display:none" #{/if} >
	    	<img src="@{'/public/images/document.png'}" width="48" height="48" style="float: left; align:bottom"/> 
	    	<span style="position:relative; left:1em; top:26px;">
	    	<span class="upload_name"> 
	    	#{if _arg.hasFile()} <a href="@{Data.view(_arg.getFilePath())}" target="_blank">${_arg.getFileName()}</a> #{/if} 
	    	</span> 
	    	[ <a href="javascript:void(0)" class="upload_cancel">x</a> ]
	    	</span>  
	    	<div style="clear: both"></div>
	    </div>
	    
    </div>
#{/elseif}


#{else}
	<span>(Error rendering file: ${_arg.name} - Unknown type "${_arg.type}")</span>
#{/else}


#{/field-wrap}
#{/else }

