<style type="text/css">
table#box-table-a tr.row_hidden { display: none }   
table#box-table-a thead th { width: 150px }  
table#box-table-a #template_table_footer { cursor: pointer; }
</style>

<table id="box-table-a">
<thead>
<th>Sequence</th> <th>Structure</th>
</thead>

<tbody>
#{list _arg}

%{ 
   
   def link = "http://www.rcsb.org/pdb/explore/explore.do?pdbId="; 
   def id = _[2]?.toUpperCase(); 
   link += id.length()>4 ? id.substring(0,4) : id   
 }% 

<tr #{if _index>3 } class="row_hidden" #{/if} >
<td>${_[0]}</td> <td> <a href="${link}" target="_blank" >${_[2]?.toUpperCase()}</a> </td>
</tr>
#{/list}

</tbody>

#{if _arg.size() > 3 }
<tfoot>
<tr id="template_table_footer" ><td colspan="2"> <small>(click to see more)</small> </td></tr>
</tfoot>
#{/if}

</table>

<script type="text/javascript">

$('#template_table_footer').click(function(){
	$('#box-table-a tr.row_hidden').toggle('fast')
	var label = $(this).find('small')
	if( label.text() == '(click to see more)' ) {
		label.text('(collapse this table)')
	}
	else {
		label.text('(click to see more)')
	}
}) 
</script>