#{extends 'layout.html' /}
#{set title:'Not found ' /}

<h1>Not found</h1>
<p>
${result.message}
</p>


<a id="show" href="javascript:void(0)" >Show details</a>
<div id="routes" class="box" style="display: none" >
<h2><span>These routes have been tried, in this order</span></h2>
<code>
 #{list items:play.mvc.Router.routes, as:'route'}
     ${route.method.pad(10).raw()}	${route.path.pad(50).raw()}	${route.action} <br>
 #{/list}
</code>
</div>

<script>
$('#show').click(function() {
	$(this).toggle();
	$('#routes').toggle("fast");
} );
</script>