#{extends 'layout.html' /}

#{set 'meta'}
<meta NAME="robots" CONTENT="NOFOLLOW" />
#{/set}

*{
 This page use the jquery autocomplete component. See 
 http://bassistance.de/jquery-plugins/jquery-plugin-autocomplete/ 
 https://github.com/agarzola/jQueryAutocompletePlugin
 http://docs.jquery.com/Plugins/Autocomplete/autocomplete#url_or_dataoptions
 
 ThickBox - http://jquery.com/demo/thickbox/
 }* 


#{set 'moreStyles'} 
<link href="@{'/public/jquery.autocomplete.css'}" rel="stylesheet" type="text/css" media="screen" />
<link rel="stylesheet" href="@{'/public/thickbox/thickbox.css'}" type="text/css" media="screen" />

<style type="text/css">

.field-wrap {
  padding-left: 3em; 
  padding-bottom: 1.5em
} 

#content .c-error { margin: 0.3em 0  } 

ul#uploadedList { margin-bottom: 1em; }

ul#uploadedList li {
	list-style-type: none;
	background: url("@{'/public/images/document-32.png'}")  no-repeat;
	padding-top: 4px;
	padding-left: 40px;
	height: 32px;
	line-height: 32px;
} 

a#btnUpload {
	border: none;
	color: inherit;
} 


/** Autocomplete **/

.ac_results { 
	font-family: arial, sans-serif;
	text-align: left;
 }
.ac_results li { 
	font-family: arial, sans-serif;
	font-size: 17px;
	font-weight: 700;
	line-height: 28px;
	border: 1px solid white;
}
.ac_result li strong {
	font-size: 15px;
	font-weight: 400;
} 

.ac_odd {
	background-color: white;
}

.ac_over {
	background-color: #eee;
	border: 1px solid #ddd;
	color: black;
}
</style>
#{/set} 

#{set 'moreScripts'} 
<script src="@{'/public/javascripts/jquery.autocomplete.min.js'}" type="text/javascript" ></script>
<script src="@{'/public/javascripts/autocomplete-choices.js'}" type="text/javascript" ></script>
<script src="@{'/public/thickbox/thickbox.js'}" type="text/javascript"></script> 
#{/set} 

<h1>T-Coffee advanced  
<small><span>${service.description}</span></small>
</h1>

<form id="form" action="@{Application.advanced}" method="POST" enctype="multipart/form-data">

<fieldset>
<h2><span>1. Upload your data</span>
<small><span>Use the button below to uplod one or more files</span></small>
</h2>

<div class="field-wrap" class="c-input #{errorClass 'uploadedFiles' /}">
<input type="hidden" id="uploadedFiles" name="uploadedFiles" value="${uploadedFiles}"/>

<ul id="uploadedList" >
</ul>

<div class="button">
<a id="btnUpload" href="@{FileChooser.index}?TB_iframe=true&height=500&width=700&modal=true" class="thickbox">Click here to upload a file</a>
</div>

<span class="c-error">#{error 'uploadedFiles' /}</span>
</div>
</fieldset>


<fieldset >
<h2><span>2. Enter the program options</span>
<small><span>Specify in the below field the T-Coffee options as you would do using the command line</span></small></h2>

<div class="field-wrap">
<textarea id="the-cmd-line" name="cmdline" style="width: 55em; height: 4.5em">${service.input.fields().get(0).value}</textarea>
<span class="c-error">#{error 'cmdline' /}</span>

<div style="margin-right: 3.5em">
<small >
You can enter any valid T-coffee command line options, 
for example <code>-in your_input_file.fasta -mode expresso -output score_html fasta_aln</code>. 

You can find an introduction to command line options and syntax at the following <a href="http://sites.google.com/site/tcoffeetutorials/" target="_blank" >T-Coffee tutorial</a>.

Also it may be useful the following <a href="http://www.tcoffee.org/Documentation/t_coffee/t_coffee_tutorial.htm#_Toc235985428" target="_blank">T-Coffee Cheat Sheat</a> and 
<a href="http://www.tcoffee.org/Documentation/t_coffee/t_coffee_technical.htm#_Toc256781607" target="_blank">T-Coffee reference manual</a>.</small>
</div>
</div>
</fieldset>

<fieldset >
<h2><span>3. Email address</span>
<small><span>Specify your email address if your want to be notified on alignment completion (optional)</span></small></h2>

<div class="field-wrap">
<input type="text" name="email" value="${service.input?.field('email')?.value}">
<span class="c-error">#{error 'email' /}</span>
</div>
</fieldset>

<div class="field-wrap">
<button id="submit" type="submit" class="button blue" >Submit</button>&nbsp;&nbsp;&nbsp;<a id="reset" href="javascript:void(0)" title="Reset the form to default values">Reset</a>
</div>
</form>

<script type="text/javascript">
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 * Add the methods 'startsWith' and 'endsWith' to 'String' class
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
String.prototype.startsWith = function(str) {return (this.match("^"+str)==str)}
String.prototype.endsWith = function(str) {return (this.match(str+"$")==str)}
String.prototype.contains = function(str) {return (this.indexOf(str)!=-1)}


function appendFileToList( name ) {
	
	// get the 'View data' url 
	var href = #{jsAction @Data.view(':name') /}

	// append an item to the list 
	var item = '<a target="_blank" href="' + href({name:name}) + '">' +name+ '</a>';
	item = "<li>" + item +  "</li>";
	$('#uploadedList').show().append( item )	
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 * The below function hides the input field when user upload data 
 * through the filechooser dialog (see 'filechooseer.html')
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

function fileChooseCallback( field, fileName ) { 
	
	// check if has been already uploaded 
	var files = $('#uploadedFiles').val(); 
	if( files.contains(fileName) ) { return } 
	
	appendFileToList(fileName)
		
	// append the file to the field 
	if( files != null && files != "" ) files += ",";
	$('#uploadedFiles').val( files + fileName ); 
	
	/*
	 * Add the new file to the list of the autocomplete component 
	 */
	 
	/* The array 'autocompleteChoices' is defined by the script 'autocomplete-choices.js' */
	/* Adding the auploaded file in the array are re-populate the autocomplete control */

	// extract the file name 
	autocompleteChoices.push(fileName);
	var options = {data: autocompleteChoices}

	$('#the-cmd-line').trigger("setOptions", [options]);
	$('#the-cmd-line').focus()
	
	/* if the command line field is empty, add the uploaded file as default input sequence */
	if( $('#the-cmd-line').val() == '' ) {
		$('#the-cmd-line').val("-seq " + fileName)
	}	
	
}


$(document).ready(function(){

	/* re-sycn the component if the 'uploadedFiles' contains a value */
	if( $('#uploadedFiles').val() != "" ) {
		var files = $('#uploadedFiles').val().split(',');
		for( var i=0; i<files.length; i++ ) {
			appendFileToList(files[i])
		}
	} 
	
	
	/* remove any error message if the input change */
	$('.field-wrap input, .field-wrap textarea')
		.bind('clearErrors', function() { 
				$(this).parents('.field-wrap').find('.c-error').remove(); 
			})
		.change(function(){ $(this).trigger('clearErrors') });



	/* 
	 * Create the autocomplete component 
	 */  

	$('#the-cmd-line').autocomplete(autocompleteChoices, {
			delay: 750,
			max: 100,
			multiple: true,
			multipleSeparator: ' ',
			mustMatch: false,
			autoFill: true
		});
		

});

/* 
 * disabling submit button on first click
 */
$('#form').submit(function(){
	$('#submit').attr('disabled',true).addClass('disabled').text('Wait ...');

});

$(document).ready(function(){
	$('#submit').removeAttr('disabled').removeClass('disabled').text('Submit');
});

/* 
 * Extra logic to reset the form fields 
 */
$('#reset').click(function() { 
	$('#form')[0].reset(); 
	$('textarea').each(function(){ $(this).text(''); $(this).trigger('clearErrors'); $(this).trigger('keydown'); } );
	$('#uploadedList').empty()
	$('#uploadedFiles').val('')
	
})

/* hack to avoid content cache that will prevent ready execution on back-button for firefox */
$(window).unload(function(){ return void(0) });

</script>
