#{extends 'main.html' /}
#{set title:'T-Coffee | Error' /}

#{cache-warning /}

<h1>${result?.title} alignment failed</h1> 

Your aligment request could not complete successfully. 

<fieldset>
<h2>Info <small>Some information on this alignment job</small></h2>
<ul>
<li>Alignment ticket # <b>${rid}</b></li>
<li>Created at: <b>${ctx?.creationTimeFmt}</b></li>
<li>Elapsed time: <b>${result?.elapsedTimeFmt}</b></li>
</ul>
</fieldset>

#{if result?.commandLine?.file }
<fieldset>
<h2>Command Line
<small>This is the command line used to execute your alignment. You can use it as reference to run this alignment on your desktop.</small>
</h2>
<code >
#{includefile result.commandLine.file /}
</code>
</fieldset>
#{/if}

#{if result?.errors }
<fieldset>
<h2>Errors</h2>
#{list result.errors, as:'msg'} 
<p><code># ${msg}</code></p>
#{/list} 
</fieldset>
#{/if}

#{if result?.items }
<fieldset>
<h2>Result files 
<small>${result.items.size} output files - <a href="@{Application.zip(rid)}">download them all</a>
</small>
</h2>

#{result-items result /}
</fieldset>

#{/if}
