#{extends 'layout.html' /}
#{set title:'T-Coffee | Error' /}

#{cache-warning /}

<h1>${result?.title} alignment failed
<small>Your aligment request could not complete successfully</small>
</h1> 


<div class="box">
<h2><span>Info</span> 
<small><span>Some information on this alignment job</span></small></h2>
<ul>
<li>Alignment ticket # <b>${rid}</b></li>
<li>Created at: <b>${ctx?.creationTimeFmt}</b></li>
<li>Elapsed time: <b>${result?.elapsedTimeFmt}</b></li>
</ul>
</div>

#{if result?.commandLine?.file }
<div class="box">
<h2><span>Command Line</span>
<small><span>This is the command line used to execute your alignment. You can use it as reference to run this alignment on your desktop</span></small>
</h2>

<code >
#{includefile result.commandLine.file /}
</code>
</div>
#{/if}

#{if result?.errors }
<div class="box">
<h2><span>Errors</span></h2>
#{list result.errors, as:'msg'} 
<p><code># ${msg}</code></p>
#{/list} 
</div>
#{/if}

#{if result?.items }
<div class="box">
<h2><span>Result files</span> 
<small><span>${result.items.size} output files - <a href="@{Application.zip(rid)}">download them all</a></span></small>
</h2>

#{result-items result /}
</div>
#{/if}


<div class="box">
<h2><span>Retry</span></h2>

Change some input parameters and resubmit this alignment <a href="@{Application.replay(rid)}" >clicking here</a>.
</div>
