#{ifnot recent }
<b>no history available</b>
#{/ifnot}

#{else}

<table id="box-table-a">
<thead>
<tr>
<th>Mode</th>
<th>Request ID</th>
<th>Status</th>
<th>Begin</th>
<th>Duration</th>
<th>Expire</th>
<th>&nbsp;</th>
</tr>
</thead>
<tbody>
#{list recent, as:'history'} 
#{if history.status != 'Running' && history.hasResult }
<tr class="clickable ${history_parity}" data-rid="${history.rid}" > 
<td class='clickable'>${history.label}</td>
<td class='clickable'><a href="@{Application.result(history.rid).add('bundle',history.bundle)}" >${history.rid}</a></td>
<td class='clickable'>${history.status}</td>
<td class='clickable'>${history.begin}</td>
<td class='clickable'>${history.duration}</td>
<td class='clickable'>${history.expire}</td>
<td> [ <a href="#" class="remove" title="Click to remove this item">X</a> ] </td>
</tr>
#{/if}
#{else}
<tr class="${history_parity}" data-rid="${history.rid}" > 
<td >${history.label}</td>
<td >${history.rid}</td>
<td >${history.status}</td>
<td >${history.begin}</td>
<td >${history.duration}</td>
<td >${history.expire}</td>
<td> &nbsp; </td>
</tr>
#{/else}

#{/list}
</tbody>
</table>

<p>
<small>History is sorted from the most recent to the most older job request</small>
</p>

<p>
<button id="deleteAll" class="button blue">Delete history</button>
</p>

 
<script type="text/javascript">

$(document).ready(function() {
	$('td.clickable').css('cursor', 'pointer');
	$('td.clickable').click(function() { window.location=$(this).closest('tr').find('a').attr('href'); });

	$('a.remove').click(function(){
		var row = $(this).closest('tr');
		var rid = row.data("rid");
		row.remove();
		$.ajax({url: "@{Application.historyDel().add('bundle',history.bundle)}?rid="+rid,
				success: function() { if( $('a.remove').size() == 0 ) { window.location.reload() }
				} 
		})

	});
	
	$('#deleteAll').click(function() {

		$.ajax({
			url: "@{Application.historyDelAll().add('bundle',history.bundle)}", 
			success: function() {window.location.reload()},
			error: function() { alert('Oops .. something went wrong.') }
			})

	} );
});
</script>

#{/else}