#{ifnot recent }
<div style="margin-top: 1.4em">
#{if !trusted_user}
No history is available for the current session. The view your past requests please <a id="browserid" href="javascript:void(0)" >authenticate your email</a>.
#{/if}
#{else}
No history is available for <span style="font-weight: 500">${trusted_user}</span>. If it is not your email <a id="logout" href="javascript:void(0)" >click here</a> to sign-off and switch to another account.
#{/else}
</div>

#{/ifnot}

#{else}

<table id="box-table-a">
<thead>
<tr>
<th>Mode</th>
<th>Request ID</th>
<th>Status</th>
<th>Begin</th>
<th>Duration</th>
<th>Expire</th>
<th>&nbsp;</th>
</tr>
</thead>
<tbody>
#{list recent, as:'history'} 
#{if history.status != 'Running' && history.hasResult }
<tr class="clickable ${history_parity}" data-rid="${history.rid}" > 
<td class='clickable'>${history.label}</td>
<td class='clickable'><a href="@{Application.result(history.rid).add('bundle',history.bundle)}" >${history.rid}</a></td>
<td class='clickable'>${history.status}</td>
<td class='clickable'>${history.begin}</td>
<td class='clickable'>${history.duration}</td>
<td class='clickable'>${history.expire}</td>
<td> [ <a href="#" class="remove" title="Click to remove this item">X</a> ] </td>
</tr>
#{/if}
#{else}
<tr class="${history_parity}" data-rid="${history.rid}" > 
<td >${history.label}</td>
<td >${history.rid}</td>
<td >${history.status}</td>
<td >${history.begin}</td>
<td >${history.duration}</td>
<td >--</td>
<td> [ <a href="#" class="remove" title="Click to remove this item">X</a> ] </td>
</tr>
#{/else}

#{/list}
</tbody>
</table>

<div style="margin-top: .4em">
<small>History is sorted from the most recent to the most older job request</small>
</div>

<div style="margin-top: .4em">
#{if !trusted_user}
<small>Above are reported the requests submitted during the current (browser) session. 
The see your past requests please <a id="browserid" href="javascript:void(0)" >authenticate your email</a>.
</small>
#{/if}
#{else}
<small>You are viewing the requests submitted using the email address <span style="font-weight: 500">${trusted_user}</span>. 
Are not you? <a id="logout" href="javascript:void(0)" >Click here to sign-off</a> and switch to another account.
</small>
#{/else}
</div>

<div style="margin-top: 1.2em; ">
<button id="deleteAll" class="button blue" style="margin-left: 0" >Delete history</button>
</dvi>
#{/else}

<script type="text/javascript">

$(document).ready(function() {
	$('td.clickable').css('cursor', 'pointer');
	$('td.clickable').click(function() { window.location=$(this).closest('tr').find('a').attr('href'); });

	$('a.remove').click(function(){
		var row = $(this).closest('tr');
		var rid = row.data("rid");
		row.remove();
		$.ajax({url: "@{Application.historyDel()}?rid="+rid,
				success: function() { if( $('a.remove').size() == 0 ) { window.location.reload() }
				} 
		})

	});
	
	$('#deleteAll').click(function() {

		$.ajax({
			url: "@{Application.historyDelAll()}", 
			success: function() {window.location.reload()},
			error: function() { alert('Oops .. something went wrong.') }
			})
	});
	
	
    /*
     * browserid authentication
     */
   function signin() {
		navigator.id.get(function(assertion) {
		    if (assertion) {
				$.post("@{Main.browseridSignin}", { assertion:assertion }, function() { window.location.reload()  } )
		    } 
		});		
	} 
    
	$('#browserid').click(function(){ signin(); })
	
	$('#logout').click(function() {
		$.get("@{Main.browseridSignout}", function() { window.location.reload() } )
	})
	

});
</script>


