#{extends 'layout.html' /}
#{set title: 'My recent jobs' /}
#{set 'meta'}
<meta NAME="robots" CONTENT="NOFOLLOW" >
#{/set}

#{set 'moreScripts'}
<script src="https://browserid.org/include.js" type="text/javascript"></script>
#{/set}

<script type="text/javascript">
function poll() {
	$('#history').load('@{Application.historyTable()}', function() {  });
}

$(document).ready(function(){
    poll(); 
    setInterval( poll, 30000 ); // reload history after 30 seconds 
});
</script>

<h1 style="margin-bottom: .2em" >Recent jobs history
<small>
Here the list of your requests
</small>
</h1>



<div id="history" >
<!--  history table comes here -->
</div>



