<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
<title>${title}</title>
<link rel="shortcut icon" type="image/x-icon" href="@{Main.favicon()}"> 
<link rel="stylesheet" type="text/css" href="@{'/public/normalize.css'}" >

<style type="text/css">
html, body { overflow: hidden; }
body{ padding: 10px }
</style>

<script type="text/javascript" src="@{'/public/javascripts/jquery-1.6.4.min.js'}" ></script>
</head>
<body>

*{
http://www.jalview.org/examples/appletParameters.html
 }*

<applet id="applet" code="jalview.bin.JalviewLite" width="800" height="600" archive="public/jalviewApplet.jar">
<param name="file" value="${result.getAlignmentFasta().webpath}">
<param name="embedded" value="true">
<param name="showFeatureSettings" value="false">
<param name="widthScale" value="1.4">
<param name="heightScale" value="1.4">
<param name="nojmol" value="true" >
<param name="linkLabel_1" value="SRS">
<param name="linkUrl_1" value="http://srs.ebi.ac.uk/srs7bin/cgi-bin/wgetz?-e+[uniprot-all:$SEQUENCE_ID$]+-vn+2">
<param name="linkLabel_2" value="Uniprot">
<param name="linkUrl_2" value="http://www.uniprot.org/uniprot/$SEQUENCE_ID$">
                        
</applet>

<script type="text/javascript">

var handler=null;

function rz() {
	handler=null;
	
	$('#applet').width ( $(window).width()-20 )
	$('#applet').height ( $(window).height()-20 )
} 

function postRz() {
	if( handler != null ) clearTimeout(handler)
	handler = setTimeout(rz, 150);
} 

$(document).ready(rz) 	// resize the applet on doc initialization 

$(window).resize(postRz); // resize the applet on window resize

</script>
</body>
</html>