#{extends 'layout.html' /}

#{set 'meta'}
<meta NAME="robots" CONTENT="NOFOLLOW" />
#{/set}


%{
  def cookiename = 'opts-' + service.name;
  def advDisplay = request.cookies[cookiename]?.value=='true' ? 'block' : 'none';
  def advLabel =  request.cookies[cookiename]?.value=='true' ? 'Hide advanced options' : 'Show more options';
  def hideCount = 0;
  
  def isIE =  request.headers["user-agent"]?.value()?.contains("MSIE"); 
}%

#{set 'moreStyles'} 
<link rel="stylesheet" href="@{'/public/thickbox/thickbox.css'}" type="text/css" media="screen" />
#{if !isIE}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/tiptip/tiptip.css'}">
#{/if}
#{/set} 

#{set 'moreScripts'} 
<script src="@{'/public/thickbox/thickbox.js'}" type="text/javascript"></script> 
#{if !isIE}
<script src="@{'/public/javascripts/jquery.tiptip.minified.js'}" type="text/javascript" ></script>
#{/if}
#{/set} 

<h1>${service.title} <small>${service.description}</small></h1>

<form id="form" action="@{Application.main(service.name)}" method="POST" enctype="multipart/form-data">

#{list service.input.fieldsets, as:'set'} 

#{if set.hideable && hideCount++==0 } 
<div class="c-more-options"><a id="toggleOptions" href="javascript:void(0)" >${advLabel}</a></div> <div class="spacer" ></div>
#{/if} 

<div #{if set.hideable } class="c-hideable" style="display: ${advDisplay}" #{/if} >

<fieldset >
#{if set.title || set.description}
<h2><span>${set.title}</span><small><span>${set.description}</span></small></h2>
#{/if}

#{list set.fields, as:'field' }
#{render field /}
#{/list} 
</fieldset>
</div>
#{/list} 


<label>&nbsp;</label> 
<div class="c-input">
<button id="submit" type="submit" class="button blue" >Submit</button>&nbsp;&nbsp;&nbsp;<a id="reset" href="javascript:void(0)" title="Reset the form to default values">Reset</a>
</div>
</form>

*{
 * This javascript will disable submit button when first clicked 
}*
<script type="text/javascript">
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 * Add the methods 'startsWith' and 'endsWith' to 'String' class
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
String.prototype.startsWith = function(str) {return (this.match("^"+str)==str)}
String.prototype.endsWith = function(str) {return (this.match(str+"$")==str)}


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 * The below function hides the input field when user upload data 
 * through the filechooser dialog (see 'filechooseer.html')
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

function tb_select( field, filePath ) { 
	
	var name = filePath.split('/')
	if( $.isArray(name) ) { name = name[name.length-1]} 
	
	var href = #{jsAction @Data.view(':path') /}
	
	if( typeof(field) == 'string' ) field = $('#'+field)
	field.hide();
	field.val(filePath);
	field.trigger('clearErrors');
	field.parent().find('.link').hide()
	field.parent().find('.upload_name').html( '<a target="_blank" href="' + href({path:filePath}) + '">' +name+ '</a>' ) 
	field.parent().find('.upload_div').show()   
}

function showTextField( field ) {
	
	if( typeof(field) == 'string' ) field = $('#'+field)

	field. val('') .show() .trigger('clearErrors');
	field.parent().find('.link').show()
	field.parent().find('.upload_div').hide()   
} 

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 * Document initialization 
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

$(document).ready(function(){

	/*
	 * 'install' the 
	 */ 
	$('.upload_cancel').click( function() { 
		showTextField( $(this).closest('.field_wrap').find('.field') ) 
	}) 
	
	/*
	 * When using fwd/back buttons, it may happen that textarea is showed open 
	 * even if it is containing a file reference. This fragment will hide it 
	 */
	$('.field').each(function() {
		if( $(this).val().startsWith('file://') &&  $(this).is(':visible') ) { 
			tb_select( $(this), $(this).val() )
		}
	})

	/* 
	 * 'sample' link action code 
	 */
	 $('.sample').click(function(){ 
		var url = $(this).data('url');
		var ref = $(this).data('ref');
		var field=$('#'+ref); 

		$.get( url, function(data) { 
			if( !field.is(':visible') ) { showTextField(field) }
			field.val(data); 
			field.trigger('clearErrors'); 
			field.trigger('keydown');  
		});
	 });	 
	
	
	/* 
	 * Toggle advanced options effects 
	 */
	$('#toggleOptions').click(function() {
		$('.c-hideable').toggle( function() {
			var status = $(this).is(':visible'); 
			var label =  status ? 'Hide advanced options' : 'Show more options';
			$('#toggleOptions').text(label);
			$.cookie('${cookiename}', status);
		});
	});	   


	/* 
	 * Enable TipTip effects but IE 
	 */
	#{if !isIE}
	$(".tiptip").tipTip();
	#{/if}	

	
	/* 
	 * Remove any error message if the input change
	 */
	$('div.c-input input, div.c-input select, div.c-input textarea')
		.bind('clearErrors', function() { 
				$(this).parents('div.c-input').removeClass('hasError').find('.c-error').remove(); 
			})
		.change(function(){ $(this).trigger('clearErrors') });
});


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 * Disabling submit button on first click 
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

$('#form').submit(function(){
	$('#submit').attr('disabled',true).addClass('disabled').text('Wait ...');
});

$(document).ready(function(){
	$('#submit').removeAttr('disabled').removeClass('disabled').text('Submit');
});


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 * 'Reset' button action 
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

$('#reset').click(function() { 
	$('#form')[0].reset(); $('textarea').each(function(){ $(this).text(''); $(this).trigger('clearErrors'); $(this).trigger('keydown'); } ) 
});

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 * hack to avoid content cache that will prevent ready execution 
 * on back-button for firefox 
 * =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

$(window).unload(function(){ /* empty */ });

</script>
