#{extends 'layout.html' /}

#{set 'meta'}
<meta NAME="robots" CONTENT="NOFOLLOW" />
#{/set}


%{
  def cookiename = 'opts-' + service.name;
  def advDisplay = request.cookies[cookiename]?.value=='true' ? 'block' : 'none';
  def advLabel =  request.cookies[cookiename]?.value=='true' ? 'Hide advanced options' : 'Show more options';
  def hideCount = 0;
  
  def isIE =  request.headers["user-agent"]?.value()?.contains("MSIE"); 
}%

#{set 'moreStyles'} 
<link rel="stylesheet" href="@{'/public/thickbox/thickbox.css'}" type="text/css" media="screen" />
#{if !isIE}
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/tiptip/tiptip.css'}">
#{/if}
#{/set} 

#{set 'moreScripts'} 
<script src="@{'/public/javascripts/autoresize.jquery.min.js'}" type="text/javascript" ></script>
<script src="@{'/public/thickbox/thickbox.js'}" type="text/javascript"></script> 
#{if !isIE}
<script src="@{'/public/javascripts/jquery.tiptip.minified.js'}" type="text/javascript" ></script>
#{/if}
#{/set} 

<h1>${service.title} <small>${service.description}</small></h1>

<form id="form" action="@{Application.main(service.name)}" method="POST" enctype="multipart/form-data">

#{list service.input.fieldsets, as:'set'} 

#{if set.hideable && hideCount++==0 } 
<div class="c-more-options"><a id="toggleOptions" href="javascript:void(0)" >${advLabel}</a></div> <div class="spacer" ></div>
#{/if} 

<div #{if set.hideable } class="c-hideable" style="display: ${advDisplay}" #{/if} >

<fieldset >
#{if set.title || set.description}
<h2><span>${set.title}</span><small><span>${set.description}</span></small></h2>
#{/if}

#{list set.fields, as:'field' }
#{render field /}
#{/list} 
</fieldset>
</div>
#{/list} 


<label>&nbsp;</label> 
<div class="c-input">
<button id="submit" type="submit" class="button blue" >Submit</button>&nbsp;&nbsp;&nbsp;<a id="reset" href="javascript:void(0)" title="Reset the form to default values">Reset</a>
</div>
</form>

*{
 * This javascript will disable submit button when first clicked 
}*
<script type="text/javascript">
<!--

function tb_select( fieldId, fileName ) { 
	console.info("FileSelect: %s - %s", fieldId, fileName);
	$('#'+fieldId).val(fileName);
}


$(document).ready(function(){
	/* init facebox properties for filechooser dialog */
	
	/* textarea autoresize effects */
	$('textarea').autoResize();

	/* toggle advanced options effects */
	$('#toggleOptions').click(function() {
		$('.c-hideable').toggle( function() {
			var status = $(this).is(':visible'); 
			var label =  status ? 'Hide advanced options' : 'Show more options';
			$('#toggleOptions').text(label);
			$.cookie('${cookiename}', status);
		});
	});	   


	#{if !isIE}
	$(".tiptip").tipTip();
	#{/if}	

	/* remove any error message if the input change */
	$('div.c-input input, div.c-input select, div.c-input textarea')
		.bind('clearErrors', function() { 
				$(this).parents('div.c-input').removeClass('hasError').find('.c-error').remove(); 
			})
		.change(function(){ $(this).trigger('clearErrors') });
});

/* disabling submit button on first click */
$('#form').submit(function(){
	$('#submit').attr('disabled',true).addClass('disabled').text('Wait ...');

});

$('#reset').click(function() { $('#form')[0].reset(); $('textarea').each(function(){ $(this).text(''); $(this).trigger('clearErrors'); $(this).trigger('keydown'); } ) } )

$(document).ready(function(){
	$('#submit').removeAttr('disabled').removeClass('disabled').text('Submit');
});

$(window).unload(function(){ /* hack to avoid content cache that will prevent ready execution on back-button for firefox */ });

//-->
</script>
