#{extends 'layout.html' /}

%{
  def cookiename = 'opts-' + service.name;
  def advDisplay = request.cookies[cookiename]?.value=='true' ? 'block' : 'none';
  def advLabel =  request.cookies[cookiename]?.value=='true' ? 'Hide advanced options' : 'Show more options';
  def hideCount = 0;
  
  def isIE =  request.headers["user-agent"].value().contains("MSIE"); 
}%

#{set 'moreStyles'} 
#{if !isIE}
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/tiptip/tiptip.css'}">
#{/if}
#{/set} 

#{set 'moreScripts'} 
#{press.script src:'autoresize.jquery.min.js', compress:false /}
#{press.script src:'ajaxupload.js' /}

#{if !isIE}
#{press.script src:'jquery.tiptip.minified.js', compress:false /}
#{/if}

#{/set} 

<h1>${service.title} <small>${service.description}</small></h1>

<form id="form" action="@{Application.main(params.bundle,service.name)}" method="POST" enctype="multipart/form-data">

#{list service.input.fieldsets, as:'set'} 

#{if set.hideable && hideCount++==0 } 
<div class="c-more-options"><a id="toggleOptions" href="javascript:void(0)" >${advLabel}</a></div> <div class="spacer" ></div>
#{/if} 

<div #{if set.hideable } class="c-hideable" style="display: ${advDisplay}" #{/if} >

<fieldset >
#{if set.title || set.description}
<h2><span>${set.title}</span><small><span>${set.description}</span></small></h2>
#{/if}

#{list set.fields, as:'field' }
#{render field /}
#{/list} 
</fieldset>
</div>
#{/list} 


<label>&nbsp;</label> 
<div class="c-input">
<button id="submit" type="submit" class="button" >Submit</button>
</div>
</form>

*{
 * This javascript will disable  submitin button on the first button click 
}*
<script type="text/javascript">
<!--

$(document).ready(function(){
	/* textarea autoresize effects */
	$('textarea').autoResize();

	/* toggle adavnced options effects */
	$('#toggleOptions').click(function() {
		$('.c-hideable').toggle( function() {
			var status = $(this).is(':visible'); 
			var label =  status ? 'Hide advanced options' : 'Show more options';
			$('#toggleOptions').text(label);
			$.cookie('${cookiename}', status);
		});
	});	   


	#{if !isIE}
	$(".tiptip").tipTip();
	#{/if}	

	/* remove any error message if the input change */
	$('div.c-input input, div.c-input select, div.c-input textarea')
		.bind('clearErrors', function() { 
				$(this).parents('div.c-input').removeClass('hasError').find('.c-error').remove(); 
			})
		.change(function(){ $(this).trigger('clearErrors') });
});

/* disabling submit button on first click */
$('#form').submit(function(){
	$('#submit').attr('disabled',true).addClass('disabled').text('Wait ...');

});

$(document).ready(function(){
	$('#submit').removeAttr('disabled').removeClass('disabled').text('Submit');
});

$(window).unload(function(){ /* hack to avoid content cache that will prevent ready execution on back-button for firefox */ });

//-->
</script>
