<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
<title>${title}</title>
<link rel="shortcut icon" type="image/x-icon" href="@{Main.favicon()}"> 
<link rel="stylesheet" type="text/css" href="@{'/public/normalize.css'}" >

<style type="text/css">
html, body { overflow: hidden; }
body{ padding: 10px }
</style>

<script type="text/javascript" src="@{'/public/javascripts/jquery-1.6.4.min.js'}" ></script>
<script src="http://www.phylowidget.org/scripts/phylowidget.js"></script>
</head>
<body>

<div id="tree">
</div>


<div  >
<small style="font-size: 12px; color: #999" >
The above tree is rendered using: PhyloWidget - Web-based visualizations for the tree of life, Gregory E. Jordan; William H. Piel
Bioinformatics 2008 24: 1641-1642

</small>
</div>


<script type="text/javascript">

$(document).ready(function () {
	
	var url = "http://" + location.host + "${result.getItem(treeFileName)?.webpath}"

	PhyloWidget.useFull()
	PhyloWidget.loadWidget('tree', {
		width: $(window).width()-20,
		height: $(window).height()-40,
		tree: url
	});
})
</script>
</body>
</html>