#{extends 'main.html' /}
#{set title:'T-Coffee | References' /}

<h1>What is T-Coffee?</h1>

<div class="c-style">
<p>
T-Coffee is a multiple sequence alignment package. You can use T-Coffee to align sequences or to combine the output of your favorite alignment methods (Clustal, Mafft, Probcons, Muscle...) into one unique alignment (<a target="_blank" href="http://www.tcoffee.org/Projects_home_page/m_coffee_home_page.html" >M-Coffee</a>).
</p>

<p>
T-Coffee can align Protein, DNA and RNA sequences. It is also able to combine sequence information with protein structural information (<a target="_blank" href="http://www.tcoffee.org/Projects_home_page/expresso_home_page.html">3D-Coffee/Expresso</a>), profile information (PSI-Coffee) or RNA secondary structures (<a target="_blank" href="http://www.tcoffee.org/Projects_home_page/r_coffee_home_page.html" >R-Coffee</a>).
</p>

<p>
This <a target="_blank" href="http://www.tcoffee.org/Presentations/tcoffee.ppt">presentation</a> gives an overview of the T-Coffee algorithm and of the original implementation and validatation of the package. The full list of associated papers is available on the following links: <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/18689823,18420654,16845081,16556910,15201059,10964570,9682054" >algorithms</a> and <a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/18483080,17526519,16845081,15215345,12824354" >servers</a>. The original T-Coffee paper is:
<br/>T-Coffee: A novel method for multiple sequence alignments.
<br/>Notredame,Higgins,Heringa,JMB,302(205-217)2000 [<a target="_blank" href="http://www.tcoffee.org/Publications/Pdf/tcoffee.pdf">pdf</a>][<a target="_blank" href="http://www.ncbi.nlm.nih.gov/pubmed/10964570">medline</a>]
</p>

<p>
T-Coffee is a freeware opensource package distributed under the <a target="_blank" href="http://www.gnu.org/copyleft/gpl.html" >GNU public license</a>.
</p>


[<a href="http://www.tcoffee.org/Projects_home_page/t_coffee_home_page.html" target="_blank" >More info here</a>]


</div>
