#{extends 'layout.html' /}
#{set title:'Processing .. ' /}

<link href="@{'/public/facebox/facebox.css'}" media="screen" rel="stylesheet" type="text/css"/>
<script src="@{'/public/facebox/facebox.js'}" type="text/javascript"></script> 

<script type="text/javascript">

$(document).ready(function(){
	 
	$.facebox.settings.loadingImage = "@{'/public/facebox/loading.gif'}";
	$.facebox.settings.closeImage = "@{'/public/facebox/closelabel.gif'}";
	$.facebox.settings.opacity = 0.5;
	$.facebox.settings.closeable = true;
	$.facebox.settings.modal = true;
	$.facebox.settings.top = 200;
	$.facebox( {div:'#dialog-content'} );
	$('#dialog-content').remove();
});

$(window).unload(function(){ /* hack to avoid content cache that will prevent ready execution on back-button for firefox */ });

$(document).bind('close.facebox', function(){
	window.location = "@{Application.index()}";
});
</script>

<div id="wait">
<h1>Processing your job request</h1>

<div id="dialog-content">

<h2>Your request ID is <b>${rid}</b> 
</h2>

<p>
<img src="@{'/public/images/ajax-loader.gif'}" width="28" height="28" />&nbsp;&nbsp;Wait please ...
</p>
 
<p>
Do not reload this page. If you have provided your email you can close 
it, you will be notified by e-mail when your job is completed.
</p>

<p>If you have not provided an e-mail, you can close this page and come back 
later to check the completion of your job. Your server history is kept in a cookie on 
your browser and you can access it at any moment using the <a href="history.html">History</a> link on the main 
menu to check request status or retrieve a previous results.
</p>

</div>
</div>

<div id="failure" style="display: none" >
<h1>Oops .. <small><span>something went wrong ..</span></small></h1>
<h2>Your request ID is ${rid} </h2>
<div id="message"></div>
</div> 

<script type="text/javascript">
var errorCount=0;

function run(){
    /* This requests the url "msgsrv.php" When it complete (or errors)*/
    $.ajax({
        type: "GET",
        url: "@{Application.status(rid)}",

        async: true, /* If set to non-async, browser shows page as "Loading.."*/
        cache: false,

        success: function(data){ /* called when request to barge.php completes */
            var status = data != null ? data.toUpperCase() : 'UNKNWON';
            if( status == 'RUNNING' ) {
                // if still running recheck the status in the next 10 seconds 
                setTimeout(run, 10000);  
            }
            else if( status=='DONE' || status=='FAILED' ) {
                // otherwise move to the result page
			 	window.location.replace("@{Application.result(rid)}");
            }
            else {
            	jQuery(document).trigger('close.facebox');
    			$('#wait').hide();
    			$('#failure').show();
    			$('#message').html('Returned unknown status: <b>' + data + '</b>');
            }
        },
        error: function(XMLHttpRequest, textStatus, errorThrown){
        	errorCount = errorCount+1
        	if( errorCount <= 3 ) {
                setTimeout(run, errorCount * 60000);  
        	}
        	else {
                // TODO improve this, handling retring to poll the status for after a while 
                // also in case of error 
                jQuery(document).trigger('close.facebox');
    			$('#wait').hide();
    			$('#failure').show();
        	}
        }
    });
};

$(document).ready(function(){
    run(); 
});


</script>