<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
#{if title || (_main_title && !meta?.contains('<title>')) }
<title>
#{if title && _main_title}${title} | ${_main_title}#{/if}#{elseif title}${title}#{/elseif}#{elseif _main_title}${_main_title}#{/elseif}
</title>
#{/if}

<meta http-equiv="X-UA-Compatible" content="IE=8,chrome=IE7" >
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="application-name" content="${_main_title}">
<meta name="application-url" content="${_main_index}">

#{get 'meta' /}

<link rel="shortcut icon" type="image/x-icon" href="@{Main.favicon()}"> 
<link href="@{'/public/layout.css'}" rel="stylesheet" type="text/css">
#{if _bundle && _bundle.cssPath } 
<link href="@{Application.css}" rel="stylesheet" type="text/css">
#{/if}
#{get 'moreStyles' /}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js" ></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.cookie.js'}" ></script>
#{get 'moreScripts' /}

<script type="text/javascript">
$(document).ready(function() {
	$('#sysmsg .close').click(function() { $('#sysmsg').hide(300); $.cookie('sysmsg_closed','${_main_sysmsg?.hashCode()}', {expires: 7, path: '/'}) } );
} )
</script>
</head>

<body class="${_main_class}">
<!--[if lt IE 7]>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
<script type="text/javascript">
   // You may want to place these lines inside an onload handler
   CFInstall.check({
     mode: "overlay",
     url: "/public/ie6.html"
   });
</script>
<![endif]-->
  
<div id="wrapper"> 
	<div id="header">
		#{include 'conf/page.header.html' /}
		<div id="navigation" class="${_main_action}">
		#{if _bundle && _bundle.navigatorPath } #{bundlepage _bundle.navigatorPath /} #{/if}
		</div>
	</div> 

	<div id="content" >
	#{if _main_sysmsg && request.cookies['sysmsg_closed']?.value != _main_sysmsg.hash }
	<div id="sysmsg" class="${_main_sysmsg.type}">
	  #{if !_main_sysmsg.sticky }
	  <span style="float: right; position: relative; top: -10px; font-size: .8em" >[ <a class="close" href="#">X</a> ]</span>
	  #{/if}
	${_main_sysmsg.value}
	</div>
	#{/if}
	
	#{doLayout /}
	</div>	

	<div id="push"></div> 
</div>

<div id="footer"> 
	#{include 'conf/page.footer.html' /}
</div> 

#{if _bundle && _bundle.javascriptPath }
<script type="text/javascript" charset="utf-8">
var Play = { "id": "${play.Play.id}", "isDev": ${play.Play.mode.isDev()}, "isProd": ${play.Play.mode.isProd()} };
#{includefile _bundle.javascriptPath /}
</script> 
#{/if}
</body>
</html>
