<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>#{if title}#{get 'title' /} | #{/if}${_main_title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>	
<meta name="application-name" content="${_main_title}"/>
<meta name="application-url" content="${_main_index}"/>

#{get 'meta' /}

<link rel="shortcut icon" type="image/x-icon" href="@{'/public/images/favicon.ico'}"  /> 
<link href="@{'/public/layout.css'}" rel="stylesheet" type="text/css" />
#{if _bundle && _bundle.cssPath } 
<style type="text/css">
#{includefile _bundle.cssPath /}
</style>
#{/if}
 #{get 'moreStyles' /}

#{press.script src:'jquery-1.4.3.min.js', compress:false /}
#{press.script src:'jquery.cookie.js' /}
#{get 'moreScripts' /}
#{press.compressed-script /}

*{
 Fix IE 6 PNG trasparency bug. See http://jquery.andreaseberhard.de/pngFix/
}*
<!--[if lt IE 7]>
<script type="text/javascript" src="@{'/public/javascripts/jquery.pngFix.pack.js'}"></script>
<script type="text/javascript" >
$(document).ready(function(){  $(document).pngFix(); }); 
</script>
<![endif]-->

</head>

<body class="${_main_class}">

<div id="wrapper"> 
	<div id="header"> 
		<h1 id="logo"><a href="${_main_index}" >${_main_title}</a></h1> 
		<span id="placeholder""></span>

		<div id="navigation" class="${_main_action}">
		#{if _bundle && _bundle.navigatorPath }
		#{include_bundle _bundle.navigatorPath /}
		#{/if}
		</div>
	</div> 


	<div id="content" >
	#{doLayout /}
	</div>	

	<div id="push"></div> 
</div>

<div id="footer"> 
    <div class="separator" ></div>
	<p class="copy-note" >
	<img src="@{'/public/images/crg.png'}" height="18" width="18" /> ${_main_title} is hosted by the <a href="http://www.crg.es" target="_blank">Centre for Genomic Regulation</a> (CRG) of Barcelona 
	</p>
	<p class="fly-away">
		<a href="#">Back to top</a>
	</p>
</div> 

#{if _bundle && _bundle.javascriptPath }
<script type="text/javascript" charset="utf-8"><!--
#{includefile _bundle.javascriptPath /}
//--></script> 
#{/if}
</body>
</html>
