%{ def isAdm = (request.controller=='Admin') 
   def isProd = play.mode.equals( play.Play.Mode.PROD )
}%
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <title>#{get 'title' /}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>	
	<link rel="shortcut icon" type="image/x-icon" href="@{'/public/images/favicon.ico'}"  /> 
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/theme1/style.css'}">
	<!--[if lte IE 6]>
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/theme1/ie6.css'}">
	<![endif]-->
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/custom.css'}">
    
#{if isAdm }
    <style type="text/css">
    #header{ background: transparent url(@{'/public/theme1/images/options/header-noise-red-center.jpg'}) no-repeat center top; }
    #header-wrap{ background: transparent url(@{'/public/theme1/images/options/header-noise-red.jpg'}) repeat-x center top; }
    </style>
#{/if}       


    #{get 'moreStyles' /}

    <script type="text/javascript" src="@{'/public/javascripts/jquery-1.4.2.min.js'}" charset="utf-8"></script>
    <script type="text/javascript" src="@{'/public/javascripts/jquery.cookie.js'}" charset="utf-8"></script>

    #{get 'moreScripts' /}

#{if !isAdm && isProd }
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-16712397-2']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
#{/if}
</head>

<body>
 <script type="text/javascript">
 <!--
 $(document).ready(function() {
	$("td.col1") .click(function(){ 
		#{if request.controller!='Admin'} window.location="@{Application.index}"; #{/if}
		#{else} window.location="@{Admin.index}"; #{/else}
	});

	$("td.col1").css("cursor: pointer");
 });
 //-->
 </script>
 
 <!-- page -->
 <div id="page">
  <div id="header-wrap">
   <div id="header" class="block-content">
     <div id="pagetitle">
      <table>
      <tr>
#{if !isAdm }
      <td class="col1">
	  <h1 class="logo">T-Coffee</h1>	
      </td>
      <td class="col2">
      <h4 class="logo">A collection of tools for Computing, Evaluating and Manipulating Multiple Alignments of DNA, RNA, Protein Sequences and Structures</h4></td>
#{/if}
#{else}
	<td class="col1">
<pre class="c-logo" >
  _____ _____      __  __            ___                  _     
 |_   _/ / __|___ / _|/ _|___ ___   / __|___ _ _  ___ ___| |___ 
   | |/ / (__/ _ \  _|  _/ -_) -_) | (__/ _ \ ' \(_-&lt;/ _ \ / -_)
   |_/_/ \___\___/_| |_| \___\___|  \___\___/_||_/__/\___/_\___|
</pre>
	</td>

#{/else}


      </tr>
      </table>
      <div class="clear"></div>
	

     </div>
     <!-- main navigation -->
     <div id="nav-wrap1">
      <div id="nav-wrap2">
        <ul id="nav">
#{if !isAdm }
		<li><a href="@{Application.index}"><span>Start</span></a></li>
		<li><a href="@{Application.history}"><span>My alignments</span></a></li>
		<li><a href="@{Application.references}"><span>References</span></a></li>
		<li><a href="@{Application.contacts}"><span>Contacts</span></a></li>
#{/if}
#{else}
		<li><a href="@{Admin.configure}"><span>Edit props</span></a></li>
		<li><a href="@{Admin.sysinfo}"><span>Sys info</span></a></li>
		<li><a href="@{Admin.clearAll}"><span>Clear cache</span></a></li>
		<li><a href="@{Admin.edit}"><span>Edit conf</span></a></li>
		<li><a href="@{Admin.perlinfo}"><span>Perl info</span></a></li>
		<li><a href="@{Admin.tcoffeeinfo}"><span>T-Coffee info</span></a></li>
		<li><a href="@{Application.index}"><span>Back to Start</span></a></li>
#{/else}
        </ul>
      </div>
     </div>
     <!-- /main navigation -->

   </div>



   <div id="main-wrap1">
    <div id="main-wrap2">
     <div id="main" class="block-content">
      <div class="mask-main rightdiv">
       <div class="mask-left">
        <div class="col1">
          <div id="main-content">
#{doLayout /}
         </div>

         </div>

       </div>
      </div>
      <div class="clear-content"></div>
     </div>


    </div>
   </div>

  </div>
 </div>
 <!-- /page -->

 <!-- footer -->
 <div id="footer">
  <div class="block-content">
     <div class="copyright">
		Credits and other info here
     </div>
  </div>
 </div>
 <!-- /footer -->

</body>
</html>
